<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Ansible: Automation for Everyone</title>
  <style>
    body {
      font-family: sans-serif;
      text-align: center;
      font-size: 150%;
    }
  </style>
</head>
<body>
  <p>{{ apache_test_message }}</p>
  <p><a href=info.html>System Info</a></p>
</body>
</html>
